{% extends 'base.html.twig' %}
 
{% block title %}Bienvenidos!{% endblock %}
 
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 
<div class="example-wrapper">
    <h3 style="text-align: center">Acerca de este curso...</h3>
 
    <p>Desde el Instituto Provincial de la Administración Pública (IPAP) les damos la bienvenida al curso: Desarrollo de sitios web utilizando Symfony 4 el mismo forma parte del programa de capacitaciones que desde el IPAP planificamos con el compromiso de hacer efectivo el derecho a la capacitación de todas/os las/os trabajadoras/es, basándonos en el logro de la equidad para facilitar el acceso a los conocimientos en igualdad de oportunidades. En este sentido, en tiempos de aislamiento social obligatorio por COVID- 19, el IPAP redobla sus esfuerzos, atendiendo las necesidades que devienen de los procesos de enseñanza y aprendizaje virtual en este contexto social. Dentro del aula virtual van a encontrar el programa con los contenidos del curso y un cronograma que les será de gran ayuda durante todo el trayecto formativo. Las vías de comunicación dentro del aula virtual van a ser los foros donde encontraran a los/las docentes y tutores a disposición para todas las dudas, consultas e información específica que requieran. Bienvenidos/as!</p>
    <ul>
        <li>Plantilla base - <a href="/default">Ver la plantilla "base.html.twig"</a></li>
        <li>Ejercicio 1 - <a href="/trabajos/tpn1">Ver respuestas TPN1</a></li>
        <li>Ejercicio 2 - <a href="/trabajos/tpn2">Visualizar valores haciendo un bucle for</a></li>
        <li>Lista de Usuarios 1 - <a href="/list_all_users">Acceso a BD - Vista HTML</a></li>
        <li>Lista de Usuarios 2 - <a href="/api/users/all">Acceso a BD - Vista JSON</a></li>
        <li>Login - <a href="/login">Prueba Login</a></li>
        <li>Login API - <a href="/login_api">Prueba Login validado con API</a></li>
    </ul>
</div>
{% endblock %}