{%  extends 'base.html.twig' %}
{% block body %}

<div style="text-align: center;">

    <h3>Bienvenido al Portal de Prueba {{ usuario[0].nombre }}</h3>

    

</div>

<ul>
    <li style="text-align: center;"><a href="/home">Volver al Inicio</a></li>
</ul>

{% endblock %}